<div class="article">
<div class="post-index">
    <h1>$title$</h1>
    <span class="date">$date$</span>
</div>

$body$

<div id="disqus_thread">
</div>
<script>
    var disqus_config = function () {
    this.page.url = "http://psibi.in$url$";
    this.page.identifier = "$disqus_identifier$";
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    
    s.src = '//psibi.disqus.com/embed.js';
    
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<div id="disqus_thread"></div>
</div>
